#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #121212;
}
p{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  
} 

#navbar form {
  display: flex;
  gap: 0.5rem;
}

#navbar input {
  padding: 0.2rem 0.8rem;
  border-radius: 4px;
  border: none;
}

button {
  
  background-color: transparent;
  
  color: red;
  padding: 0.3rem;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.aa{
    color: white;
}
.aa2{
    color: red;
}
.pp{
    color: red;
    margin-left: 20px;
    font-size: 1.3em;
}
.pp:hover{
    color: red;
}
.ppp{
    color: white;
    font-size: 1.3em;
    margin-left: 20px;
}
.ppp:hover{
    color: red;
}